[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=lliurexmirror
Name[en]=LliureX Mirror
Name[es]=Réplica de LliureX
Name[qcv]=Rèplica del LliureX
Name[ca_ES]=Rèplica del LliureX
Name[ca]=Rèplica del LliureX
Comment=LliureX's Mirror
Comment[es]=Crea la réplica de LliureX
Comment[qcv]=Creeu la rèplica del LliureX
Comment[ca_ES]=Creeu la rèplica del LliureX
Comment[ca]=Creeu la rèplica del LliureX
Exec=pe lliurexmirror.zmd
Icon=lliurex-mirror
Type=Application
GenericName=lliurex-mirror
NoDisplay=true
Categories=LliureX-Administration;

