Source: lliurex-mirror
Section: python
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Miguel Garcia Gomez <garcia_miggom@gva.es>,Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>
Build-Depends: debhelper (>= 7.0), n4d-dev, llxsrchelper,zero-dev
Standards-Version: 3.9.7

Package: lliurex-mirror
Architecture: all
Depends: ${misc:Depends}, lliurex-mirror-cli, lliurex-mirror-gui
Description: LliureX Mirror Package
 lliurex-mirror tools to manage LliureX/Ubuntu/PPA mirrors

Package: lliurex-mirror-cli
Architecture: all
Depends: ${misc:Depends}, python, python-clint
Provides: lliurex-mirror-core
Conflicts: lliurex-mirror-core (<< 26)
Replaces: lliurex-mirror-core (<< 26)
Description: LliureX Mirror Cli
 lliurex-mirror-cli provice command line to execute lliurex-mirror functions
 
Package: lliurex-mirror-gui
Architecture: all
Depends: ${misc:Depends}, python, n4d-lliurex-mirror
Conflicts: python-lliurex-mirror (<< 26)
Replaces: python-lliurex-mirror (<< 26)
Provides: python-lliurex-mirror
Description: LliureX Mirror GUI
 Graphical tool to manage lliurex mirrors

Package: n4d-lliurex-mirror
Architecture: all
Depends: ${misc:Depends}, n4d, python-llxvars, python-jinja2, debmirror, apache2, python-pexpect, logrotate
Provides: lliurex-mirror-n4d-server, python-lliurex-mirror
Conflicts: lliurex-mirror-n4d-server, lliurex-mirror-core (<< 26)
Replaces: lliurex-mirror-n4d-server, lliurex-mirror-core (<< 26)
Description: LliureX Mirror - N4D plugin
 n4d-lliurex-mirror provides a n4d plugin

Package: admin-center-lliurex-mirror
Architecture: all
Depends: ${misc:Depends}, admin-center 
Description: LliureX Mirror - N4D plugin
 n4d-lliurex-mirror provides a n4d plugin

